<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
    <div class="container">
        <div>
            <h1>Hello Spring</h1>
            <p>Member Management</p>
            <p>
                <a href="/member/new">Join</a>
                <a href="/members">Member List</a>
            </p>
        </div>
    </div>
</body>
</html>